body {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(26, 112, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: auto;
}

h1 {
    align-self: flex-start;
    color: white;
}

h3 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-self: flex-start;

}